html {
	box-sizing: border-box;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
	font-weight: 500;
}

/* Globales */
.contenedor {
	width: 95%;
	max-width: 130rem;
	margin-left: auto;
	margin-right: auto;
}

img {
	max-width: 100%;
}

h1 {
	font-size: 3.8rem;
}

h2 {
	font-size: 3.4rem;
}

h3 {
	font-size: 3rem;
}

h4 {
	font-size: 2.6rem;
}

/* Utilidades */
.seccion {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fw-700 {
	font-weight: 700;
}

.fz-45 {
	font-size: 4.5rem;
}

.centrar-texto {
	text-align: center;
}

.d-block {
	display: block !important;
}

.margen-arriba-abajo {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.contenido-centrado {
	max-width: 80rem;
}

/* Botones */
.boton {
	color: white;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.8rem;
	padding: 1rem 3rem;
	margin-top: 3rem;
	text-align: center;
	border: none;
	display: block;
	flex: 0 0 100%;
}

@media (min-width: 768px) {
	.boton {
		display: inline-block;
		flex: 0 0 auto;
	}
}

.boton:hover {
	cursor: pointer;
}

.boton-amarillo {
	background-color: #e08709;
}

.boton-verde {
	background-color: #71b100;
}

/* Header */

.site-header {
	background-color: #333333;
	padding: 1rem 0 3rem 0;
}

.site-header.inicio {
	background-image: url(../img/header.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	min-height: 60rem;
}

.contenido-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}

@media (min-width: 768px) {
	.contenido-header {
		text-align: left;
	}

}

.contenido-header h1 {
	color: white;
	padding-bottom: 2rem;
	max-width: 60rem;
	line-height: 2;
}

.barra {
	padding-top: 3rem;
}

@media (min-width: 768px) {
	.barra {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 3rem;
	}
}

/* Navegacion */
.navegacion a {
	color: white;
	text-decoration: none;
	font-size: 1.8rem;
	margin: 1rem 2rem;
	display: block;
}

@media (min-width: 768px) {
	.navegacion a {
		display: inline-block;
		margin: 0 2rem 0 0;
	}
}

.navegacion a:hover {
	color: blue;
}

.navegacion a:last-of-type {
	margin: 0;
}

/* Mobile menu */
.mobile-menu img {
	width: 5rem;
}

@media (min-width: 768px) {
	.mobile-menu {
		display: none;
	}
}

.navegacion:target {
	display: block;
}

.navegacion {
	display: none;
}

@media (min-width: 768px) {
	.navegacion {
		display: block;
	}
}

/* Nosotros */
.encabezado-nosotros {
	font-weight: 300;
	text-align: center;
}

@media (min-width: 768px) {
	.iconos-nosotros {
		display: flex;
		justify-content: space-between;
	}
}

.icono {

	text-align: center;
}

@media (min-width: 768px) {
	.icono {
		flex-basis: calc(33.3% - 1.5rem);
	}
}

.icono h3 {
	text-transform: uppercase;
	font-weight: 900;
}

/* Anuncios*/
.contenedor-anuncios {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.anuncio {

	/*border: 0.1rem solid #b5b5b5;*/
	background-color: #f5f5f5;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.anuncio {
		flex: 0 0 calc(33.3% - 1rem);
	}
}

.contenido-anuncio {
	padding: 2rem 4rem;
}

.precio {
	color: #71b100;
	font-weight: 700;
}

.iconos-caracteristicas {
	list-style: none;
	padding: 0;
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	max-width: 50rem;
}

.iconos-caracteristicas li {
	display: flex;
}

.iconos-caracteristicas img {
	margin-right: 2rem;
}

.ver-todas {
	display: flex;
	justify-content: flex-end;
}

/* Contacto */
.imagen-contacto {
	background-image: url(../img/encuentra.jpg);
	background-position: center center;
	background-size: cover;
	height: 40rem;
	display: flex;
	align-items: center;
}

.contenido-contacto {
	flex: 0 0 95%;
	color: white;
}

/* Sección inferior */
@media (min-width: 768px) {
	.seccion-inferior {
		display: flex;
		justify-content: space-between;
	}

	.seccion-inferior .blog {
		flex-basis: 60%;
	}

	.seccion-inferior .testimoniales {
		flex-basis: calc(35% - 2rem);
	}
}


.entrada-blog {

	margin-bottom: 2rem;
}

@media (min-width: 768px) {
	.entrada-blog {
		display: flex;
		justify-content: space-between;
	}
}

.entrada-blog:last-of-type {
	margin-bottom: 0;
}

@media (min-width:768px) {
	.entrada-blog .imagen {
		flex-basis: 40%;
	}

	.entrada-blog .texto-entrada {
		flex-basis: calc(60% - 3rem);
	}
}



.texto-entrada a {
	color: black;
	text-decoration: none;
}

.texto-entrada h4 {
	margin: 0;
	line-height: 1.6;
}

.texto-entrada h4::after {
	content: '';
	display: block;
	width: 15rem;
	height: .5rem;
	background-color: #71b100;
	margin-top: 1rem;
}

.texto-entrada span {
	color: #e08709;
}

/* Testimoniales */
.testimonial {
	background-color: #71b100;
	font-size: 2.4rem;
	padding: 2rem;
	color: white;
	border-radius: 2rem;
}

.testimonial p {
	text-align: right;
}

.testimonial blockquote::before {
	content: '';
	background-image: url(../img/comilla.svg);
	width: 5rem;
	height: 5rem;
	position: absolute;
	left: -2rem;
	top: -1rem;
}

.testimonial blockquote {
	position: relative;
	padding-left: 5rem;
	font-weight: 300;
}

/* Footer */
.site-footer {
	background-color: #333333;
	margin: 0;
}

.contenedor-footer {
	padding: 3rem 0;
	text-align: center;
}

@media (min-width: 768px) {
	.contenedor-footer {
		display: flex;
		justify-content: space-between;
	}
}

.site-footer nav {
	display: none;
}

@media (min-width: 768px) {
	.site-footer nav {
		display: block;
	}
}

.copyright {
	margin: 0;
	color: white;
}

/* INTERNAS */

/* Nosotros */

@media (min-width: 768px) {
	.contenido-nosotros {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}


.texto-nosotros {
	padding: 3rem 3rem 0 3rem;
	background-color: #f5f5f5;
}

.texto-nosotros blockquote {
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
}

.imagen-anuncio img {
	width: 100%;
}

/* Anuncio */
.resumen-propiedad {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Contacto */
.contacto p {
	font-size: 1.5rem;
	color: #4f4f4f;
	margin: 2.5rem 0 1rem 0;
}

.contacto p:first-of-type {
	margin: 0 0 1rem 0;
}

legend {
	font-size: 2.4rem;
	color: #4f4f4f;
}

label {
	display: block;
	font-weight: 700;
}

input:not([type="submit"]),
textarea,
select {
	background-color: #e1e1e1;
	padding: 1rem;
	display: block;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 2rem;
	border: none;
	border-radius: .5rem;
}

input[type="radio"] {
	width: auto;
	margin: 0;
}

select {
	-webkit-appearance: none;
	appearance: none;
}

textarea {
	height: 20rem;
}

.forma-contacto {
	max-width: 30rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}